@model Smartnight.Categoria

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutLogueado.cshtml";
}

<h2>Eliminar</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>¿Está seguro que quiere eliminar este registro?</h3>
<fieldset>
    <legend>Categoria</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Color)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Color)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar a la lista", "Index")
    </p>
}
