@model Smartnight.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutLogueado.cshtml";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
